<p>
  color works!
</p>

<p>
  El color que viene en el parámetro de ruta: {{ color }}
</p>
<p>
  Los datos que llegan desde la configuración de la ruta: {{ data | json }}
</p>
<p>
  Los datos que llegan desde la query string: {{ queryData | json }}
</p>
<button (click)="goToColor('verde')">Ir a verde</button>
<button (click)="goToColor('dame/el/azul')">Ir a azul</button>